<template>
  <main
    class="
      grid-test
      min-h-screen
      grid grid-cols-[1fr,2fr,1fr] grid-rows-[auto,1fr,1fr,1fr,1fr,auto]
      min-w-1024
      bg-white
    "
  >
    <header class="item">
      <Navigation />
    </header>
    <section class="item one" title="one">
      <div>Hello</div>
      <div>
        <span>, my name is Chris</span>
      </div>
    </section>
    <section class="item two" title="two two">
      <Switcher />
      <Multilingual />
    </section>
    <div class="item three" title="Three Three Three">Three</div>
    <section class="item four">
      <details>
        <summary>Chris Andrikanich</summary>
        <p>Lorem ipsum, ipsum lorem.</p>
      </details>
    </section>
    <div class="item five">Five</div>
    <div class="item six">Six</div>
    <div class="item seven">Seven</div>
    <footer class="item">
      <Footer />
    </footer>
  </main>
</template>

<script>
import Navigation from "@/components/Navigation.vue";
import Footer from "@/components/Footer.vue";
import Switcher from "../components/Switcher.vue";
import Multilingual from "../components/Multilingual.vue";

export default {
  name: "home-grid",
  components: {
    Navigation,
    Footer,
    Switcher,
    Multilingual,
  },
};
</script>

<style lang="less" scoped>
/* Color Reference
background: #
text:
links: 
headings:
primary: 
secondary: 
*/

// .grid-container {
//     display: none;
//     grid-template: none;
// }

section.grid-test {
  // display: grid;
  // grid-template: 1fr 2fr 1fr;
  grid-gap: 20px;
  // justify-content: center;
  // align-content: center;
  // min-width: 800px;
  // min-height: 100vh;
  // grid-template-rows: auto 1fr 1fr 1fr 1fr auto;
  background-image: url("../assets/img/ffflux.svg");
  // source: https://fffuel.co/ffflux/
}

.item {
  padding: 3rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bold;
  background-size: cover;
  background-position: center;
  color: white;
  animation-duration: 0.8s;
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  box-shadow: var(--shadow-elevation-medium);
}

header,
footer {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: cadetblue;
  animation-duration: 0.8s;
  animation-delay: 0.4s;
  animation-name: animate-fade;
  animation-fill-mode: backwards;
}

.one {
  // grid-column: 1/4;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: blue;
  animation-delay: 0.5s;
}

.two {
  background-color: black;
  animation-delay: 0.6s;
}

.three {
  // grid-column: 2/3;
  grid-column-start: 2;
  grid-column-end: 3;
  // grid-row: 2/4;
  grid-row-start: 3;
  grid-row-end: 5;
  background-color: red;
  animation-delay: 0.7s;
}

.four {
  background-color: burlywood;
  animation-delay: 0.8s;
}

.five {
  // grid-row: 3/5;
  grid-row-start: 4;
  grid-row-end: 6;
  background-color: green;
  animation-delay: 0.9s;
}

.six {
  background-color: purple;
  animation-delay: 1s;
}

.seven {
  // grid-column: 2/4;
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: hotpink;
  animation-delay: 1.1s;
}

/* ------------------------------------ */
/* -------- >>> Animations <<< -------- */
/* ------------------------------------ */

.animate {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate.pop {
  animation-duration: 0.5s;
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* --- REVEALING ANIMATION --- */
// @import url("https://fonts.googleapis.com/css?family=Roboto:300");

.one div {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.one div:first-of-type {
  /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 7s infinite;
}

.one div:last-of-type {
  width: 0px;
  animation: reveal 7s infinite;
}

.one div:last-of-type span {
  margin-left: -355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: auto;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: auto;
  }
}

p {
  font-size: 12px;
  color: #999;
  margin-top: 200px;
}
</style>