<template>
    <section class="resume">
      <header>
        <h1>My Experience</h1>
      </header>
      <article>
          <h4>Objective</h4>
          <p>As a Front-End Developer, my passion for semantic HTML &amp; CSS pushes myself to learn more, to work with my team to create high-quality code and to continuously enhance my skillset. My experience with taking someone else's vision and translating it to good usable code makes me a great fit for your team.</p>
      </article>
      <article>
        <h4>Experience</h4>

        <!-- DEALER TIRE -->
        <h5>Dealer Tire, LLC, Web Developer, Cleveland, OH &mdash; 2016-Present</h5>
        <ul>
            <li>Coordinated with team to launch Dealer Tire China by designing &amp; skinning Porsche dealership web site</li>
            <li>Support web applications and branding updates for US and Canadian dealership websites</li>
            <li>Led project to move Online Tire Store application to Nissan &amp; Infiniti Canada dealerships</li>
            <li>Worked with team dedicated to releasing a new version of the Inspection tool for Service Lane</li>
        </ul>

        <!-- TEALS -->
        <h5>TEALS, Volunteer Teaching Assistant, Cleveland, OH &mdash; 2018-2020</h5>
        <ul>
            <li>Assisted Campus International High School teacher with the Intro to Computer Science curriculum</li>
            <li>Help students understand basic Computer Science concepts using Snap and Python programming languages</li>
        </ul>

        <!-- TECH ELEVATOR-->
        <h5>Tech Elevator, Student: Java Cohort, Cleveland, OH &mdash; 2016-Present</h5>
        <ul>
            <li>Java Language Fundamentals: variables, data types, loops, conditional statements, exception handling, collections framework, I/O</li>
            <li>Object Oriented Programming: classes and objects, interfaces, access modifiers, packages, the Java classpath, class modeling, encapsulation, inheritance, and polymorphism, UML class diagrams</li>
            <li>Web Application Development: HTML, CSS, Javascript, Servlets, JSP, Spring Web MVC, Tomcat</li>
            <li>Database Programming: JDBC, JPA (Hibernate), table design and creation, SQL queries and DML, PostgreSQL, E/R diagrams</li>
            <li>Development tools and techniques: unit testing (JUnit), TDD, unix command line navigation, Git, Eclipse</li>
        </ul>

        <!-- GRAY & COMPANY -->
        <h5>Gray &amp; Company, Publishers, Digital Marketing, Cleveland, OH &mdash; 1998-2016</h5>
        <ul>
            <li>Built and designed company web site using HTML, CSS, and FileMaker databases, also managed and maintained updates, fixes, and feature requests via Coda</li>
            <li>Organized and designed promotional materials, coordinated and scheduled events, and managed book sales partnerships for appearances for 40+ authors</li>
            <li>Crafted content, designed assets, and implemented social media campaigns on Facebook and Twitter in conjunction with product releases, special offers, and timely content</li>
            <li>Planned, managed, and researched office logistics for 6 full-time and part-time employees</li>
        </ul>

        <!-- BURNING RIVER SPORTS -->
        <h5>Burning River Sports, Co-owner, Cleveland, OH &mdash; 2002-2005</h5>
        <ul>
            <li>Built, managed and maintained company web site using HTML and CSS</li>
            <li>Organized, scheduled, and coordinated dozens of local social and sport events in Greater Cleveland</li>
            <li>Designed marketing materials and promotional giveaways using Adobe InDesign</li>
        </ul>

        <!-- SIGNATURES -->
        <h5>Signatures Network, Merchandising Assistant, San Francisco, CA &mdash; 2005-2009</h5>
        <ul>
            <li>Assisted with inventory supply and management, venue transactions, and logistics for Coldplay concert tours in the summers of 2006, 2008, and 2009 in the United States and Canada</li>
        </ul>
      </article>
      <article>
        <h4>Education</h4>
        <ul>
            <li>Tech Elevator, Cleveland, OH &mdash; Certificate, Expected Aug 2016
                <p>14 week accelerated coursework on Java software language</p>
            </li>
            <li>Ohio University, Athens, OH &mdash; B.A. English, 1998</li>
        </ul>
      </article>
    </section>
</template>
